.course-item {
  list-style-type: none;
  margin-bottom: 20px;
}

.course-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.course-image {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.course-image img {
  width: 200px;
  height: 150px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.course-details {
  flex: 1;
  padding-left: 40px;
}

.course-box h1 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
}

.course-box p {
  font-size: 16px;
  margin: 10px 0;
  text-align: start;
}

.course-list-container {
  display: flex;
  flex-wrap: wrap;
}

.course-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

/* Mobile screens */
@media only screen and (max-width: 600px) {
  .course-box {
    flex-direction: column;
  }
  .course-image {
    flex-basis: 100%;
  }
  .course-details {
    padding-left: 0;
  }
}

/* Tablet screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .course-box {
    flex-direction: row;
  }
  .course-image {
    flex-basis: 30%;
  }
  .course-details {
    padding-left: 20px;
  }
}

/* Laptop screens */
@media only screen and (min-width: 1025px) {
  .course-box {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
  .course-image {
    flex-basis: 30%;
  }
  .course-details {
    padding-left: 50px;
  }
}
