body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;  /* Ensures it takes the full width on mobile */
    max-width: 400px;  /* Restricts its width on larger screens */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px; /* Adjust for better mobile readability */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; /* Full width on mobile for better touch targets */
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}

/* Media Query for Larger Devices */
@media screen and (min-width: 768px) {
    button {
        width: auto; /* Resetting button width for larger screens */
    }
}
